body {
  margin: 4px;
  /* background: #020204; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

#container, #config {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 4px;
  box-sizing: border-box;
  /* box-shadow: 0 0 10px #92e5a1; */
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
  image-rendering: pixelated;
  /* background: black; */
  display: block;
}

#config {
  /* color: #22b455; */
  padding: 1rem;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  /* line-height: 1.2; */
  scrollbar-width: thin;
  white-space: pre-wrap;
  display: inline;
}

#banner {
  font-size: 1rem;
  line-height: 1;
  padding-top: 20px;
}

label {
  display: block;
  /* padding-top: 10px; */
}

.fancy-switch-container {
  /* position: fixed; */
  /* bottom: 20px; */
  /* right: 20px; */
  /* z-index: 9999; */
}

/* Hide default checkbox */
.fancy-switch {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider itself */
.fancy-slider {
  position: relative;
  /* display: block; */
  display: inline block;
  width: 52px;
  height: 28px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fancy-slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* When checked */
.fancy-switch:checked + .fancy-slider {
  background-color: #22b455;
}

.fancy-switch:checked + .fancy-slider::before {
  transform: translateX(24px);
}

