html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; /*horizontal*/
  align-items: center; /*vertical*/
  font-family: 'font0', sans-serif, "Microsoft JhengHei", "Microsoft YaHei", "PingFang TC", "Heiti TC";
}

@font-face {
  font-family: 'font0';
  /* src: url('../fonts/KX.woff2') format('woff2'); */
  src: url('../fonts/hw-kai.woff2') format('woff2');
  font-weight: normal; /* Regular (400), Bold (700) */
  font-style: normal;
  font-display: swap; /* This shows fallback text immediately */
}

.paper {
  display: flex;
  flex-direction: row-reverse;
  height: 98dvh; /*dynamic viewport height for safari mobile*/
  width: 98vw;
  box-sizing: border-box;
  padding: 20px 10px;
  border: 2px solid #000;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
  background-color: #FEF2E3; /* #fffaf0 */
}

.column {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2rem;
  line-height: 2;
  border-left: 1px solid #aaa;
  height: 100%;
}

.column.title {
  color: tomato;
  font-weight: bold;
}

.nav-button {
  position: absolute;
  top: 0;
  width: 30vw;
  height: 100vh;
  background: transparent;
  border: none;
  /*opacity: 0;*/
  cursor: pointer; /*visual clickable*/
  z-index: 10; /*stacked above other elements*/
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.nav-button.left {
  left: 0;
  text-align: left;
}

.nav-button.right {
  right: 0;
  text-align: right;
}

.loading-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: sans-serif;
  color: #444;
}

